<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>YourPage</title>
  </head>
  {{#errors}}
  <li></li>
  {{/errors}}
  <body>
    {{#userHello}}
    <h1>hello, {{username}}!</h1>
    {{/userHello}}
  </body>
</html>
